.login-content {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #84ABE2, #33D193, #2e99dc);
}

.frame {
  display: flex;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 16vh;
}

.frame img {
  /* position: fixed;  */
  z-index: 2;
  width: 500px;
  height: 457px;
  margin-right: -18px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.frame-login {
  width: 360px;
  height: 40%;
  background-image: linear-gradient(to bottom, #ffffff, #6BCBB8);
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 46px;
}

.frame-login a {
  color: white;
  position: absolute;
  right: 15;
  bottom: 30px
}

.sidebar > .logo {
  display: grid;
  justify-items: center;
}
.frame-login > .logo > .right {
  display: grid;
}

.frame-login > .logo > .right > span:nth-child(2) {
  font-size: 20px;
  color: black;
}

.frame-login > .logo > .right > span:nth-child(3) {
  font-size: 11px;
  color: gray;
}

.form-login {
  display: grid;
  margin-top: 10px;
}

.form-login > input {
  margin-bottom: 5px;
}

.form-login > select {
  margin-bottom: 5px;
}

.form-login > button {
  color: white;
}

.form-control option:checked {
  background-color: lightgreen; /* Ubah warna sesuai keinginan */
}

.form-control option:focus {
  background-color: lightgreen; /* Ubah warna sesuai keinginan */
}